{% extends "base.html" %}
{% block title %}{% endblock title %}

{% block content %}

<!-- Comparison Container -->
<div class="comparison-container">

    <!-- Car Card 1 -->
    <div class="car-card2">
        <img src="car1.jpg" alt="Car Image">
        <div class="car-name2">Toyota Camry 2022</div>
        <div class="car-price2">$25,000</div>
        <div class="car-details2">
            <div class="detail-item2">
                <span>Mileage:</span>
                <span>10,000 miles</span>
            </div>
            <div class="detail-item2">
                <span>Color:</span>
                <span>Silver</span>
            </div>
            <div class="detail-item2">
                <span>Fuel:</span>
                <span>Gasoline</span>
            </div>
            <div class="detail-item2">
                <span>Transmission:</span>
                <span>Automatic</span>
            </div>
            <div class="detail-item2">
                <span>Engine:</span>
                <span>2.5L I4</span>
            </div>
        </div>
    </div>

    <!-- Car Card 2 -->
    <div class="car-card2">
        <img src="car2.jpg" alt="Car Image">
        <div class="car-name2">Honda Accord 2021</div>
        <div class="car-price2">$23,000</div>
        <div class="car-details2">
            <div class="detail-item2">
                <span>Mileage:</span>
                <span>15,000 miles</span>
            </div>
            <div class="detail-item2">
                <span>Color:</span>
                <span>White</span>
            </div>
            <div class="detail-item2">
                <span>Fuel:</span>
                <span>Hybrid</span>
            </div>
            <div class="detail-item2">
                <span>Transmission:</span>
                <span>Automatic</span>
            </div>
            <div class="detail-item2">
                <span>Engine:</span>
                <span>1.5L Turbo I4</span>
            </div>
        </div>
    </div>

</div>
{% endblock content %}